*{
    margin: 0;
    padding: 0;
}
main{
    background-color: whitesmoke;
}
.width_design{
    max-width: 50%;
}
.biryani_image{
    display: flex;
    margin: 5px 2px 5px 5px;
}
.biryani{
    color:crimson;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.image_design{
    height: 190px;
    width: 190px;
    padding:50px;
    border-radius:100%;
}
.image_design_2{
    height: 100px;
    width: 100px;
    padding: 20px;
    border-radius:100%;
    margin-left: 20px;
}
.biryani_items{
    height: 300px;
    width: 300px;
    background-color: rgb(54, 49, 50);
    box-shadow: 7px 5px 5px crimson;
    margin: 6px;
}
section{
    margin-right: 0px;
}
.title_col{
    text-align: right;
}
