*{
    margin: 0;
    padding: 0;
}
/* nav section */
.login_info{
    text-decoration: none;
    border: 1px solid red;
    border-radius: 10px;
    padding:10px;
    color:black;
    margin-left: 20px;
}
 #order{
    list-style: none;
 }
nav{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
}
nav>ul{
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
}
nav ul>li{
    list-style: none;
}
nav ul li>a{
    text-decoration: none;
    border: 1px solid red;
    border-radius: 10px;
    padding:10px;
    color:black
}
/* main_part */
.biryani>a{
    text-decoration: none;
    font-size: 25px;
    padding-left: 20px;
    color:crimson;
}
main{
    background-color: whitesmoke;
    margin-top: 100px;
}
.width_design{
    max-width: 50%;
}
.biryani_image{
    display: flex;
    margin: 5px 2px 5px 5px;
}
.biryani{
    color:crimson;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.image_design{
    height: 190px;
    width: 190px;
    padding:50px;
    border-radius:100%;
}
.image_design_2{
    height: 100px;
    width: 100px;
    padding: 20px;
    border-radius:100%;
    margin-left: 20px;
}
.biryani_items{
    height: 300px;
    width: 300px;
    background-color: rgb(54, 49, 50);
    box-shadow: 7px 5px 5px crimson;
    margin: 6px;
}
section{
    margin-right: 0px;
}
.title_col{
    text-align: right;
}
